@import "../variables.scss";
@import "../mixins/media.scss";

.album {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 45px 130px;
  text-align: center;

  @include media-tablet {
    margin: 0 45px;
  }

  h2 {
    margin: 0 0 29px;
    padding: 0;
    color: $basic-text;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;

    &:before {
      content: "@";
      font-size: 42px;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: $basic-text;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
  }
}

.album__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 60px auto 0;
  gap: 34px 27px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.album__item--big {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
