@import "../variables.scss";
@import "../mixins/media.scss";

.album {
  max-width: 1170px;
  margin: 0 auto;
  padding: 46px 45px 132px;
  text-align: center;

  @include media-tablet {
    margin: 0 45px;
    padding: 13px 0 80px;
  }

  @include media-mobile {
    margin: 0 15px;
    padding-bottom: 71px;
  }

  h2 {
    margin: 0 0 29px;
    padding: 0;
    color: $basic-text;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;

    @include media-tablet {
      margin-bottom: 16px;
    }

    &::before {
      content: "@";
      font-size: 42px;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: $basic-text;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
    cursor: pointer;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.album__list {
  display: grid;
  grid-template-columns: 1fr 1.74fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 60px auto 0;
  gap: 34px 27px;

  @include media-tablet {
    grid-template-columns: 1fr 1.7fr 1fr 1fr;
    gap: 16px 20px;
  }

  @include media-mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.album__item {
  width: 100%;
  height: auto;
  object-fit: cover;

  &--big {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
  }

  &--no-mobile {
    @include media-mobile {
      display: none;
    }
  }
}
