@import "../variables.scss";
@import "../mixins/media.scss";

.album {
  display: grid;
  grid-template-columns: 1fr 1.74fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 60px auto 0;
  gap: 34px 27px;

  @include media-tablet {
    grid-template-columns: 1fr 1.7fr 1fr 1fr;
    gap: 16px 20px;
  }

  @include media-mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 27px 23px;
    margin: 47px auto 0;
  }
}

.album__item {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &--no-mobile {
    @include media-mobile {
      display: none;
    }
  }
}

.album__item--big {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  img {
    height: 100%;
  }
}
