@import "../variables.scss";
@import "../mixins/media.scss";

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-auto-flow: column;
  gap: 30px;
  margin: 61px 0 0;

  @include media-tablet {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 51px;
  }

  @include media-mobile {
    gap: 41px;
    margin-top: 53px;
  }
}

.blog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $background-blog-item;

  @include media-mobile {
    grid-template-columns: 1fr;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;

    @include media-tablet {
      max-height: 300px;
      min-height: unset;
    }

    @include media-mobile {
      max-height: 255px;
    }
  }
}

.blog__item:nth-child(2n) {
  img {
    order: 2;

    @include media-mobile {
      order: unset;
    }
  }
}

.blog__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: $background-blog-item;

  @include media-mobile {
    min-height: 215px;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: $general-font;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $blog-data-color;
  }

  h3 {
    margin: 13px 0 35px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: $basic-dark;
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-family: $general-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $basic-text;
  }
}

.blog__item--large {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 1fr;

  @include media-tablet {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-template-columns: 1fr 1fr;
  }

  img {
    max-height: 300px;
    min-height: 100%;
    object-position: top;

    @include media-tablet {
      min-height: unset;
    }

    @include media-mobile {
      max-height: 258px;
    }
  }

  @include media-mobile {
    grid-template-columns: 1fr;
  }
}

.blog__item--large > .blog__info {
  position: absolute;
  top: calc(50% + 15px);
  right: 0;
  bottom: 0;
  left: 50%;

  a {
    margin-bottom: 37px;

    @include media-tablet {
      margin-bottom: 7px;
    }
  }


  @include media-tablet {
    position: static;
  }
}
