@import "../variables.scss";
@import "../mixins/media.scss";

.blog {
  max-width: 1170px;
  margin: 0 auto;
  padding: 85px 45px 50px;
  text-align: center;
  overflow: hidden;

  @include media-tablet {
    margin: 0 45px;
    padding-top: 35px;
  }

  h2 {
    margin: 0 0 19px;
    padding: 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;

    @include media-tablet {
      margin: 0 0 16px;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $basic-text;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-auto-flow: column;
  gap: 30px;
  margin: 60px 0 0;

  @include media-tablet {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.blog__item {
  display: flex;
  background: $background-blog-item;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include media-mobile {
      flex-direction: column;
    }
  }

  @include media-mobile {
    flex-direction: column;
  }

  img {
    display: block;
    width: 285px;
    height: 300px;

    @include media-tablet {
      width: 339px;
      height: 300px;
    }
  }
}

.blog__info {
  padding: 66px 60px;
  background: $background-blog-item;

  p {
    margin: 0;
    padding: 0;
    font-family: $general-font;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $blog-data-color;
  }

  h3 {
    margin: 13px 0 34px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: $basic-dark;
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $basic-text;
  }
}

.blog__item--large {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;


  @include media-tablet {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  @include media-mobile {
    flex-direction: column;
  }

  img {
    width: 570px;
    height: 630px;

    @include media-tablet {
      width: 285px;
      height: 300px;
    }
  }
}

.blog__item--large > .blog__info {
  position: absolute;
  top: calc(50% + 13px);
  right: 0;
  bottom: 0;
  left: 50%;

  @include media-tablet {
    position: static;
  }
}
