@import "../variables.scss";
@import "../mixins/media.scss";

.filter {
  display: flex;
  flex-direction: column;
  font-family: $general-font;

  @include media-tablet {
    display: none;
  }
}

.filter.is--visible {
  @include media-tablet {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: -20px;
    width: 443px;
    margin: 0;
    padding: 0 0 15px;
    background: $basic-white;
    transform: translateY(-50%);
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  @include media-mobile {
    width: unset;
    top: 0;
    right: 0;
    left: 0;
    max-height: calc(100vh - 60px);
    padding-bottom: 10px;
    transform: unset;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24), 0 0 0 100px $basic-white;
  }
}

.filter__button {
  margin-bottom: 23px;

  @include media-tablet {
    display: block;
    width: calc(100% - 80px);
    margin: 0 40px 25px;
  }

  @include media-mobile {
    width: calc(100% - 40px);
    margin: 0 20px 20px;
  }
}

.filter-toggle {
  display: none;

  @include media-tablet {
    display: block;
  }
}

.filter__button-close {
  display: none;

  @include media-tablet {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin: -16px;
  }

  @include media-mobile {
    position: fixed;
    margin: 10px;
  }
}

.filter__inner {
  display: flex;
  flex-direction: column;

  @include media-tablet {
    max-height: 90vh;
    overflow: auto;
  }

  @include media-mobile {
    padding: 15px 0 25px;
  }
}

.filter__catalog {
  margin-bottom: 35px;
}

.filter__item {
  text-align: start;
  border: 1px solid $accent-color;

  @include media-tablet {
    border-left: none;
    border-right: none;
  }

  &:nth-child(n+1) {
    border-bottom: none;
  }

  &:first-child {
    @include media-tablet {
      border-top: none;
    }
  }

  &:last-child {
    border-bottom: 1px solid $accent-color;
  }

  a {
    display: block;
    margin: 0;
    padding: 23px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $basic-text;
    line-height: 21px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='10' fill='none'%3E%3Cpath d='M1 1l7.5 8L16 1' stroke='%23A87B62'/%3E%3C/svg%3E") 100% 30px no-repeat;
    cursor: pointer;
    text-decoration: none;

    @include media-tablet {
      padding: 35px 22px 35px 42px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='14' fill='none'%3E%3Cpath d='M1 1l11.5 12L24 1' stroke='%23A87B62'/%3E%3C/svg%3E") 100% 39px no-repeat;

    }
  }

  a.active-filter {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='10' fill='none'%3E%3Cpath d='M16 9L8.5 1 1 9' stroke='%23A87B62'/%3E%3C/svg%3E") 100% 30px no-repeat;

    @include media-tablet {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='14' fill='none' %3E%3Cpath d='M24 13L12.5 1 1 13' stroke='%23A87B62'/%3E%3C/svg%3E") 100% 39px no-repeat;

    }
  }
}

.filter__content {
  &--toggle {
    max-height: 0;
    padding: 0 20px 0 0;
    border-top: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
  }
}

a.active-filter + .filter__content--toggle {
  max-height: 500px;
  padding: 2px 34px 25px;

  @include media-tablet {
    margin-top: -15px;
    padding: 5px 32px 40px 52px;
  }
}

.filter__button.button--white {
  @include media-mobile {
    margin-bottom: 10px;
  }
}
