@import "../variables.scss";
@import "../mixins/media.scss";

.form-input {
  flex-grow: 1;

  input {
    width: 100%;
    margin: 0;
    padding: 12px 0 8px;
    background-color: transparent;
    font-family: $general-font;
    color: $basic-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: none;
  }

  &--modal-email {
    margin-bottom: 24px;
    border-bottom: 1px solid $accent-color;
  }

  &--modal-password {
    margin-bottom: 0;
    border-bottom: 1px solid $accent-color;
  }
}
