@import "../variables.scss";
@import "../mixins/media.scss";

.form-input {
  flex-grow: 1;

  input {
    width: 100%;
    margin: 0;
    padding: 12px 0 8px;
    background-color: transparent;
    font-family: $general-font;
    color: $basic-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    outline: none;

    &::placeholder {
      color: $mailing-form-text;
    }
  }

  &--login {
    border-bottom: 1px solid $accent-color;

    input {
      color: $accent-color;
    }

    &:focus {
      border-bottom: 1px solid $basic-white;
    }
  }

  &--login-email {
    margin-bottom: 24px;

    @include media-mobile {
      margin-bottom: 17px;
    }
  }
}
