@import "../variables.scss";
@import "../mixins/media.scss";

.form-slider {
  position: relative;
  z-index: 1;
  height: 1px;
  text-align: left;
  margin: 2px -15px 27px;

  @include media-tablet {
    margin: 4px -15px 10px  ;
  }
}

.form-slider-info {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
}

.form-slider-info__inverse {
  position: absolute;
  height: 1px;
  border-radius: 10px;
  background-color: $form-slider-info-inverse-background-color;
  margin: 0 7px;

  &--left {
    left: 0;
    width: 70%;
  }

  &--right {
    right: 0;
    width: 70%;
  }
}

.form-slider-info__range {
  position: absolute;
  left: 26%;
  right: 23%;
  height: 1px;
  border-radius: 14px;
  background-color: $accent-color;

  @include media-tablet {
    left: 18%;
    right: 37%;
  }

}

.form-slider-info__thumb {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 15px;
  width: 15px;
  text-align: left;
  margin-left: -10px;
  cursor: pointer;
  background-color: $accent-color;
  border-radius: 50%;

  @include media-tablet {
    height: 18px;
    width: 18px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $accent-color;
  }

  &::after {
    content: attr(data-percent);
    display: block;
    margin-top: 20px;
    margin-left: -8px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    white-space: nowrap;

    @include media-tablet {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &--left {
    left: 28%;

    @include media-tablet {
      left: 18%;
    }
  }

  &--right {
    left: 79%;

    @include media-tablet {
      left: 63%;
    }
  }
}
