@import "../variables.scss";
@import "../mixins/media.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  padding: 41px 45px 51px;

  @include media-tablet {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 45px;
    padding: 30px 0 0;
  }

  @include media-mobile {
    margin: 0 15px;
  }
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 66px;
  height: 66px;
  color: $accent-color;

  @include media-tablet {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: translate(-50%, -41px);

    .layout__header--is-menu & {
      color: $basic-white;
    }
  }
}

.header__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 6px;

  @include media-tablet {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: -16px -2px 0 0;
  }
}

.header__link {
  margin-left: 36px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $basic-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__link--cart {
  text-align: center;

  @include media-tablet {
    font-size: 0;
    line-height: 0;

    .layout__header--is-menu & {
      color: $basic-white;
    }
  }

  svg {
    display: none;

    @include media-tablet {
      display: block;
      font-size: 0;
      line-height: 0;
      text-align: center;
    }
  }
}

.header__link--login {
  @include media-tablet {
    display: none;
  }
}

.header-nav {
  position: relative;
  max-width: 1180px;
  margin: 20px auto 18px;
  padding: 0 45px;
  text-align: center;

  @include media-tablet {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 45px;
    text-align: start;
    overflow: auto;

    .layout__header--is-menu & {
      display: flex;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100vw;
    border-top: 1px solid $border-top-nav-color;
    transform: translate(-50%, 0);
  }
}

.header-nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 17px;
  font-family: $general-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $basic-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include media-tablet {
    margin: 21px 0 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    color: $basic-white;
  }

  &--login {
    display: none;

    @include media-tablet {
      display: block;
      margin-bottom: 75px;
      font-size: 18px;
      line-height: 23px;
    }
  }

  &--additional {
    display: none;

    @include media-tablet {
      display: block;
      margin: 10px 0;
      font-size: 18px;
      line-height: 23px;
      color: $header-nav-link-additional;
    }
  }

  &--separator-top {
    @include media-tablet {
      margin-top: 41px;
    }
  }

  &--separator-bottom {
    @include media-tablet {
      margin-bottom: 24px;
    }
  }
}


.header-toggle {
  display: none;

  @include media-tablet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    width: 25px;
    height: 25px;
    margin: -16px auto 0 0;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: none;
    background: none;

    .layout__header--is-menu & {
      color: $basic-white;
    }
  }
}

.header-toggle__icon {
  display: block;
}
