@import "../variables.scss";
@import "../mixins/media.scss";

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 179px 0 187px;
  font-family: $accent-font;
  color: $basic-white;
  text-align: center;
  background: $accent-color url("../img/main-desktop@1x.jpg") 50% 50% no-repeat;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: $intro-background;
  }

  @include retina-size {
    background: url("../img/main-desktop@2x.jpg") 50% 50% no-repeat;
  }

  @include media-tablet {
    background: url("../img/main-tablet@1x.jpg") 50% 50% no-repeat;

    @include retina-size {
      background: url("../img/main-tablet@2x.jpg") 50% 50% no-repeat;
    }
  }

  @include media-mobile {
    background: url("../img/main-mobile@1x.jpg") 50% 50% no-repeat;

    @include retina-size {
      background: url("../img/main-mobile@2x.jpg") 50% 50% no-repeat;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-family: $accent-font;
    font-weight: bold;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include media-mobile {
      font-size: 38px;
      line-height: 49px;
    }
  }

  p {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 38px;
    line-height: 37px;

    @include media-mobile {
      font-size: 34px;
      line-height: 44px;
    }
  }
}

.intro--catalog {
  padding: 90px 0 91px;
  background: $accent-color url("../img/annicken-kzam-unsplash-desktop@1x.jpg") 50% 50% no-repeat;

  @include retina-size {
    background: url("../img/annicken-kzam-unsplash-desktop@2x.jpg") 50% 50% no-repeat;
  }

  @include media-tablet {
    background: url("../img/annicken-kzam-unsplash-tablet@1x.jpg") 50% 50% no-repeat;

    @include retina-size {
      background: url("../img/annicken-kzam-unsplash-tablet@2x.jpg") 50% 50% no-repeat;
    }
  }

  @include media-mobile {
    background: url("../img/annicken-kzam-unsplash-mobile@1x.jpg") 50% 50% no-repeat;

    @include retina-size {
      background: url("../img/annicken-kzam-unsplash-mobile@2x.jpg") 50% 50% no-repeat;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0;
  }

  p {
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
  }
}
