@import "../variables.scss";
@import "../mixins/media.scss";

.mailing-form {
  h2 {
    margin: 0;
    padding: 0 0 25px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;
  }

  p {
    margin: 0;
    padding: 0;
    color: $mailing-form-text;
  }

  button {
    position: relative;
    max-width: 103px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $basic-white;
    font-family: $general-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    background: none;
    border: none;

    svg {
      position: absolute;
      top: 50%;

      color: $basic-white;
    }
  }
}

.mailing-form__row {
  display: flex;
  border-bottom: 1px solid $basic-white;
}
