@import "../variables.scss";
@import "../mixins/media.scss";

.modal {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal.is--visible {
  $modalVisible: & !global;
  z-index: 100;
}

.modal__inner {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 450px;
  max-height: 90vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(100px);
  opacity: 0;
  transition: opacity 100ms linear;
  color: $basic-white;
  background: $background-modal;
  overflow: auto;

  &--login {
    width: 430px;

    @include media-tablet {
      width: 442px;
    }

    @include media-mobile {
      width: 270px;
      transform: translateY(50px);
    }
  }

  &--add-to-cart {
    width: 500px;

    @include media-tablet {
      width: 502px;
    }

    @include media-mobile {
      width: 290px;
      transform: translateY(117px);
    }
  }

  #{$modalVisible} & {
    opacity: 1;
  }
}

.modal__fon-picture {
  display: block;

  @include media-tablet {
    min-height: unset;
    min-width: 100%;
  }

  @include media-mobile {
    min-width: 270px;
    width: 100%;
    height: auto;
  }
}

.modal__blackout {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 50ms linear;
}

.modal__blackout.is-blacked-out {
  opacity: 1;
}

.modal__button-close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  margin: -10px;
  padding: 10px;
  border: 0;
  background: 0;
  cursor: pointer;
  outline: 0;
  color: $basic-white;

  @include media-mobile {
    top: 14px;
    right: 14px;
  }

  svg {
    display: block;
  }

  &:focus {
    box-shadow: 0 0 0 2px $accent-color;
  }
}
