@import "../variables.scss";
@import "../mixins/media.scss";

.new-product {
  max-width: 1170px;
  padding: 120px 45px 22px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  h2 {
    margin: 0 0 11px;
    padding: 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;

    @include media-tablet {
      margin: 0;
    }
  }

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $basic-text;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.new-product__track {
  overflow: hidden;
}

.new-product__list {
  display: flex;
  gap: 30px;
  margin: 60px auto 14px;

  @include media-tablet {
    margin: 55px auto 10px;
  }

  a {
    border: none;
  }
}

.new-product__item {
  padding-bottom: 30px;
  text-align: center;
  color: $basic-text;
  text-decoration: none;

  img {
    width: 270px;
    height: 284px;

    @include media-tablet {
      width: 324px;
      height: 340px;
    }

    @include media-mobile {
      width: 130px;
      height: 136px;
    }
  }

  h3 {
    margin: 17px 0 4px;
    padding: 0;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  strong {
    font-family: $general-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
}

.new-product__button-nav {
  display: flex;
  justify-content: space-between;
  margin: -13px 0 10px;

  @include media-tablet {
    margin: -6px 0 5px;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }
}

.new-product__pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: pagination;

  li {
    margin: 0 2px;
    padding: 0;
  }

  button {
    margin: 0;
    padding: 5px;
    font-family: $general-font;
    color: $mailing-form-text;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;

    &::before {
      counter-increment: pagination;
      content: counter(pagination);
    }

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      color: $basic-text;
    }
  }
}
