@import "../variables.scss";
@import "../mixins/media.scss";

.new-product {
  max-width: 1170px;
  padding: 120px 45px 30px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;


  h2 {
    margin: 0 0 11px;
    padding: 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
  }

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $basic-text;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
  }
}

.new-product__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 60px auto 21px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
  }

  a {
    border: none;
  }
}

.new-product__item {
  padding-bottom: 30px;
  text-align: center;
  color: $basic-text;
  text-decoration: none;

  img {
    width: 270px;
    height: 284px;

    @include media-tablet {
      width: 324px;
      height: 340px;
    }

    @include media-mobile {
      width: 130px;
      height: 136px;
    }
  }

  h3 {
    margin: 17px 0 4px;
    padding: 0;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  strong {
    font-family: $general-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
}

.new-product__button-nav {
  display: flex;
  justify-content: space-between;
  margin: -18px 0 9px;

  a {
    border: none;
  }
}

.new-product__pagination {
  a {
    padding: 5px;
    color: $mailing-form-text;
    border: none;
  }
}


a.new-product__link--active {
  color: $basic-text;
}
