@import "../variables.scss";
@import "../mixins/media.scss";

.product-cart {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 570px;
  margin: 80px auto 0;
  padding: 0 45px;
  text-align: center;

  @include media-tablet {
    margin-top: 31px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  @include media-mobile {
    grid-template-columns: 1fr;
    margin: 0 15px;
    padding: 0;
  }
}

.product-cart__pictures {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 14px;
  }

  @include media-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.product-cart__picture-item {
  display: block;
  width: 100px;
  height: 125px;

  @include media-tablet {
    width: 100%;
    height: auto;
  }

  @include media-mobile {
    display: none;
  }

  &--big {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include media-tablet {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      min-height: 286px;
    }

    @include media-mobile {
      display: block;
      min-height: unset;
    }
  }
}

.product-cart__description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 100px;

  @include media-tablet {
    margin: 0;
  }

  h2 {
    margin: 0 0 12px;
    padding: 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 23px;
    color: $basic-text;
  }

  strong {
    margin: 10px 0 15px;
    font-family: $general-font;
    font-style: normal;
    font-weight: normal;
    color: $basic-text;
    font-size: 26px;
    line-height: 34px;

    @include media-mobile {
      margin-bottom: 4px;
    }
  }

  button {
    margin-bottom: 5px;
  }
}

.product-cart__nav {
  margin: 23px 0 17px;

  a {
    padding: 16px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: $basic-text;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

a.product-cart__item--active {
  color: $mailing-form-text;
}

.product-cart__table {
  margin-bottom: 50px;
  border-collapse: separate;
  border-spacing: 0;

  @include media-mobile {
    margin-bottom: 40px;
  }

  th {
    margin: 0;
    padding: 15px 0 9px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid $border-top-nav-color;
  }

  td {
    font-family: $general-font;
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid $border-top-nav-color;
  }
}

.product-cart__offers {
  display: flex;

  p {
    margin: 18px 0 0;
    padding: 0 13px 0 12px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $mailing-form-text;
    border-right: 1px solid $accent-color;
    white-space: nowrap;

    @include media-tablet {
      padding: 0 10px 0 12px;
      font-size: 12px;
      line-height: 16px;
    }

    @include media-mobile {
      margin: 12px 0 0;
      white-space: unset;
      text-align: center;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}
