@import "../variables.scss";
@import "../mixins/media.scss";

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 0 auto;
  max-width: 1180px;
  text-align: center;

  @include media-mobile {
    grid-template-columns: 1fr;
  }
}

.product-card__pictures {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;

  @include media-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;
  }

  @include media-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }


  &--big {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    @include media-tablet {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @include media-mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  img {
    display: block;
  }
}


.product-card__description {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  text-align: justify;

  h2 {
    margin: 0;
    padding: 0;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: $basic-text;
  }

  strong {
    margin: 10px 0 15px;
    font-family: $general-font;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
  }

  button {
    margin-bottom: 5px;
  }
}

.product-card__nav {
  margin: 25px 0 15px;

  a {
    padding: 15px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: $basic-text;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

a.product-card__nav--active {
  color: $mailing-form-text;
}

.product-card__table {
  margin-bottom: 50px;
  border-collapse: separate;
  border-spacing: 0;
  font-family: $general-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;

  th {
    margin: 0;
    padding: 15px 0 10px;
    font-weight: 500;
    border-bottom: 1px solid $border-top-nav-color;
  }

  td {
    text-align: end;
    font-weight: normal;
    border-bottom: 1px solid $border-top-nav-color;
  }
}

.product-card__offers {
  display: flex;

  p {
    padding: 0 12px;
    font-family: $general-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $mailing-form-text;
    border-right: 1px solid $accent-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}
