@import "../variables.scss";
@import "../mixins/media.scss";

.search {
  position: relative;

  @include media-tablet {
    display: none;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    width: 100%;
    margin: 20px 7px 25px;

    .layout__header--is-menu & {
      display: block;
    }
  }

  @include media-tablet {
    margin: 20px 0 25px;
  }

  @include media-mobile {
    margin: 16px 0 13px;
  }
}

.search__submit {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  border: none;

  @include media-tablet {
    .layout__header--is-menu & {
      color: $basic-white;
    }
  }

  svg {
    display: block;

    @include media-tablet {
      width: 30px;
    }
  }
}

.search__field {
  margin: 0;
  padding: 0 0 0 34px;
  font-family: $general-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $basic-dark;
  background-color: transparent;
  border: none;

  @include media-tablet {
    width: 100%;
    background: $search-input-tablet-color;
    line-height: 40px;
    border-radius: 20px;
    color: $basic-white;

    &::placeholder {
      opacity: 0;
    }
  }
}
