@import "../variables.scss";
@import "../mixins/media.scss";

.social {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;

  @include media-mobile {
    display: grid;
    grid-auto-flow: column;
    justify-self: start;
    grid-template-columns: 20px 20px 20px 20px;
    margin-top: 5px;
  }

  a {
    display: inline-flex;
    padding: 5px 0;
    font-style: normal;
    color: $basic-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    @include media-mobile {
      font-size: 0;
      line-height: 0;
      text-align: center;
    }

    svg {
      display: block;
      margin-right: 15px;
    }
  }
}
