$accent-color: #a87b62;
$basic-white: #ffffff;
$basic-dark: #000000;

$general-font: "Poppins", "Arial", sans-serif;
$accent-font: "Cormorant Garamond", "Arial", sans-serif;

$mailing-form-text: #9B9997;
