$accent-color: #a87b62;
$basic-white: #ffffff;
$basic-dark: #000000;

$general-font: "Poppins", "Arial", sans-serif;
$accent-font: "Cormorant Garamond", "Arial", sans-serif;

$basic-text: #1d1613;
$mailing-form-text: #9b9997;
$search-text: #9b9997;
$border-top-nav-color: #f6f5f4;
$header-nav-link-additional: rgba(255, 255, 255, 0.75);
$background-blog-item: #f0eae4;
$blog-data-color: #9b9997;
$background-modal: #f0eae4;
